body {background-color: rgb(209, 216, 177);}
h1 {
    font-family: "Courier New", monospace;
    }
h2 {
    font-family: Arial, Helvetica, sans-serif;
  }
h3 {
    font-family: Arial, Helvetica, sans-serif;
  }